.vscode/settings.json
duplex-server/target/
duplex-client/.DS_Store
duplex-proto/target/
duplex-proto/.DS_Store
duplex-server/.DS_Store
.DS_Store
duplex-client/target/
/Simplex-Rest/target/
/.idea/
/simplex-open-api/target/
/.idea/swagger-settings.xml
/simplex-open-api-specs/target/
/simplex-open-api-client/target/
